In [1]:
import pandas as pd
import numpy as np

In [3]:
raw_data=pd.read_csv("/content/drive/MyDrive/Datasets/IMDB Dataset.csv")

In [4]:
raw_data.shape

(50000, 2)

In [5]:
raw_data["review"][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [7]:
raw_data["sentiment"].replace({"positive":1,"negative":0},inplace=True)

In [8]:
raw_data=raw_data.sample(10000)

In [9]:
raw_data["sentiment"].value_counts()

0    5021
1    4979
Name: sentiment, dtype: int64

In [10]:
import re
clean=re.compile("<.*?>")
re.sub(clean,"",raw_data.iloc[2].review)

"Following a sitcom plot is so mindlessly easy that having her character simultaneously operate both within and without the context the rest of the cast inhabit is the kind of experimentalism that sitcoms could really use. The supporting characters ground the show in a sitcom reality which provides a contextual counterpoint to Sarah's erratic persona which, beyond general insensitivity, has no specific recurring traits for behavioural expectations to be based on, making her less a character than a canvas to be repainted in every episode if not scene. Sarah's ability to see everything from an outside perspective enables her to parody aspects of social behaviour that are subtle enough to usually go unnoticed. Every time she speaks it's like a self-contained 5 second skit. She overemotes a lot, demonstrating the countless things a smile or change in vocal pitch can signify, but never sticks with one idea long enough for you to get comfortable and form expectations that will be satisfied. This may be the most creative, original and experimental TV program ever."

In [11]:
##Fuction to clean HTML tag
def clean_html(text):
  clean=re.compile("<.*?>")
  return re.sub(clean,"",text)

In [12]:
df=raw_data.copy()

In [13]:
df["review"]=df["review"].apply(clean_html)

In [14]:
df.reset_index(inplace=True)
df.review[0]

'James Cagney is best known for his tough characters- and gangster roles but he has also played quite a lot \'soft\' characters in his career. This musical is one of them and it was the first but not the last musical movie Cagney would star in.Cagney is even doing a bit of singing in this one and also quite an amount of dancing. And it needs to be said that he was not bad at it. He plays the role with a lot of confidence. He apparently had some dancing jobs in his early life before his acting career started to take off big time, so it actually isn\'t a weird thing that he also took on some musical acting roles in his career. He obviously also feels at ease in this totally different genre than most people are accustomed to seeing him in.The movie is directed by Lloyd Bacon, who was perhaps among the best and most successful director within the genre. His earliest \'30\'s musicals pretty much defined the musical genre and he also was responsible for genre movies such as "42nd Street". His musicals were always light and fun to watch and more comedy like than anything else really. \'30\'s musicals never were really about its singing, this was something that more featured in \'40\'s and later made musicals, mainly from the MGM studios.As usual it has a light and simple story, set in the musical world, that of course is also predictable and progresses in a formulaic way. It nevertheless is a fun and simple story that also simply makes this an entertaining movies to watch. So do the characters and actors that are portraying them. Sort of weird though that that the total plot line of the movie gets sort of abandoned toward the end of the movie, when the movie only starts to consists out of musical number routines.The musical moments toward the ending of the movie are also amusing and well done, even though I\'m not a too big fan of the genre itself. Once again the musical numbers also feature a young Billy Barty. he often played little boys/babies/mice and whatever more early on in his career, including the movie musical "Gold Diggers of 1933", of one year earlier. A recommendable early genre movie.8/10'

In [15]:
##Fuction to convert lower case letter
def lower_case(text):
  return text.lower()

In [16]:
df["review"]=df["review"].apply(lower_case)

In [17]:
df["review"][0]

'james cagney is best known for his tough characters- and gangster roles but he has also played quite a lot \'soft\' characters in his career. this musical is one of them and it was the first but not the last musical movie cagney would star in.cagney is even doing a bit of singing in this one and also quite an amount of dancing. and it needs to be said that he was not bad at it. he plays the role with a lot of confidence. he apparently had some dancing jobs in his early life before his acting career started to take off big time, so it actually isn\'t a weird thing that he also took on some musical acting roles in his career. he obviously also feels at ease in this totally different genre than most people are accustomed to seeing him in.the movie is directed by lloyd bacon, who was perhaps among the best and most successful director within the genre. his earliest \'30\'s musicals pretty much defined the musical genre and he also was responsible for genre movies such as "42nd street". his musicals were always light and fun to watch and more comedy like than anything else really. \'30\'s musicals never were really about its singing, this was something that more featured in \'40\'s and later made musicals, mainly from the mgm studios.as usual it has a light and simple story, set in the musical world, that of course is also predictable and progresses in a formulaic way. it nevertheless is a fun and simple story that also simply makes this an entertaining movies to watch. so do the characters and actors that are portraying them. sort of weird though that that the total plot line of the movie gets sort of abandoned toward the end of the movie, when the movie only starts to consists out of musical number routines.the musical moments toward the ending of the movie are also amusing and well done, even though i\'m not a too big fan of the genre itself. once again the musical numbers also feature a young billy barty. he often played little boys/babies/mice and whatever more early on in his career, including the movie musical "gold diggers of 1933", of one year earlier. a recommendable early genre movie.8/10'

In [18]:
##remove special character
def remove_special(text):
  x=""
  for i in text:
    if i.isalnum():
      x=x+i
    else:
      x=x+" "
  return x

In [19]:
df["review"]=df["review"].apply(remove_special)

In [20]:
df["review"][45]

'well  what to say   having seen the film i still have to wonder what the hell the point of it all really was   v dodgy camera moves in the courtyard at one point    i had to look away from the screen  i was feeling physically sick    round and round and round     you get the idea   very very strange accents at many points      those that should know  know unless your getting in for free  or being paid to watch it  or your partner is about to make you paint the house or something   then forget it   '

In [21]:
from nltk.corpus import stopwords

In [22]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [23]:
##remove stop words
def remove_stopwords(text):
  x=[]
  for i in text.split():
    if i not in stopwords.words("english"):
      x.append(i)
  y=x[:]
  x.clear()
  return y

In [24]:
len(remove_stopwords(df["review"][0]))

209

In [25]:
len(df["review"][0])

2121

In [26]:
df["review"]=df["review"].apply(remove_stopwords)

In [27]:
df

      index                                             review  sentiment
0     33410  [james, cagney, best, known, tough, characters...          1
1     43422  [like, movies, morally, corrupt, characters, m...          0
2     17396  [following, sitcom, plot, mindlessly, easy, ch...          1
3     23143  [joe, bob, briggs, would, say, movie, relies, ...          0
4     20439  [film, interesting, sensitive, period, history...          0
...     ...                                                ...        ...
9995  37433  [credited, variety, one, greatest, documentari...          1
9996  38190  [complete, utter, waster, precious, two, hours...          0
9997  36879  [misfortune, wasting, 10, quid, buying, ss, ne...          0
9998   9706  [waste, great, acting, talent, shame, catherin...          0
9999  35247  [happily, married, 49, year, old, female, happ...          1

[10000 rows x 3 columns]

In [28]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [29]:
def stem_words(text):
  y=[]
  for i in text:
    y.append(ps.stem(i))
  z=y[:]
  y.clear()
  return z

In [30]:
df["review"]=df["review"].apply(stem_words)

In [31]:
df

      index                                             review  sentiment
0     33410  [jame, cagney, best, known, tough, charact, ga...          1
1     43422  [like, movi, moral, corrupt, charact, much, ac...          0
2     17396  [follow, sitcom, plot, mindlessli, easi, chara...          1
3     23143  [joe, bob, brigg, would, say, movi, reli, lot,...          0
4     20439  [film, interest, sensit, period, histori, film...          0
...     ...                                                ...        ...
9995  37433  [credit, varieti, one, greatest, documentari, ...          1
9996  38190  [complet, utter, waster, preciou, two, hour, e...          0
9997  36879  [misfortun, wast, 10, quid, buy, ss, new, movi...          0
9998   9706  [wast, great, act, talent, shame, catherin, de...          0
9999  35247  [happili, marri, 49, year, old, femal, happen,...          1

[10000 rows x 3 columns]

In [32]:
def join_list(list):
  return " ".join(list)

In [33]:
join_list(df["review"][0])

'jame cagney best known tough charact gangster role also play quit lot soft charact career music one first last music movi cagney would star cagney even bit sing one also quit amount danc need said bad play role lot confid appar danc job earli life act career start take big time actual weird thing also took music act role career obvious also feel eas total differ genr peopl accustom see movi direct lloyd bacon perhap among best success director within genr earliest 30 music pretti much defin music genr also respons genr movi 42nd street music alway light fun watch comedi like anyth els realli 30 music never realli sing someth featur 40 later made music mainli mgm studio usual light simpl stori set music world cours also predict progress formula way nevertheless fun simpl stori also simpli make entertain movi watch charact actor portray sort weird though total plot line movi get sort abandon toward end movi movi start consist music number routin music moment toward end movi also amus well done even though big fan genr music number also featur young billi barti often play littl boy babi mice whatev earli career includ movi music gold digger 1933 one year earlier recommend earli genr movi 8 10'

In [34]:
df["review"]=df["review"].apply(join_list)

In [35]:
df

      index                                             review  sentiment
0     33410  jame cagney best known tough charact gangster ...          1
1     43422  like movi moral corrupt charact much act great...          0
2     17396  follow sitcom plot mindlessli easi charact sim...          1
3     23143  joe bob brigg would say movi reli lot actress ...          0
4     20439  film interest sensit period histori film beaut...          0
...     ...                                                ...        ...
9995  37433  credit varieti one greatest documentari ever c...          1
9996  38190  complet utter waster preciou two hour entir mo...          0
9997  36879  misfortun wast 10 quid buy ss new movi dvd att...          0
9998   9706  wast great act talent shame catherin deneuv ma...          0
9999  35247  happili marri 49 year old femal happen love mo...          1

[10000 rows x 3 columns]

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)
x=cv.fit_transform(df["review"]).toarray()

In [37]:
x.shape

(10000, 1000)

In [38]:
y=df.iloc[:,-1].values

In [39]:
y

array([1, 0, 1, ..., 0, 0, 1])

In [40]:
y.shape

(10000,)

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [42]:
x_train.shape

(8000, 1000)

In [43]:
v=y_train.reshape(-1,1)

In [44]:
v.shape

(8000, 1)

In [45]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
model1=GaussianNB()
model2=MultinomialNB()
model3=BernoulliNB()

In [46]:
model1.fit(x_train,y_train)
model2.fit(x_train,y_train)
model3.fit(x_train,y_train)

BernoulliNB()

In [47]:
y_predict1=model1.predict(x_test)
y_predict2=model2.predict(x_test)
y_predict3=model3.predict(x_test)

In [48]:
from sklearn.metrics import accuracy_score
print(f"Gaussian: {accuracy_score(y_test,y_predict1)}")
print(f"Multinomial: {accuracy_score(y_test,y_predict2)}")
print(f"Bernoulli: {accuracy_score(y_test,y_predict3)}")

Gaussian: 0.7575
Multinomial: 0.8275
Bernoulli: 0.835